//  -- Start of `features`  --
//  TODO. Make version with Flex-box
// .container-theme-flex {
// width: $body-width;
// margin: 0 auto;
//  display: flex;
//  border-left: solid 1px #ececec;
//  border-right: solid 1px #ececec;
//  height: auto;
//  z-index: 10;
// }
.features {
  max-width: 1140px;
  width: 100%;
  margin-top: 112px;
  margin-bottom: 96px;
  margin-left: auto;
  margin-right: auto;  
  text-align: center;
  z-index: 11;
  display: flex;    
}

.banner {
  // display: inline-block;
  flex-basis:  67.3684%; 
  width: auto;
  height: auto;
  z-index: 12;
  position: relative;
}

.banner__image {
  width: 100%;
  height: auto;
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  vertical-align: top;
    z-index: 13; // &:after {
    //  content: "";
    //  background-image: url("../img/offer-mask.png");
    // }
  }

  .banner__text1 {
    display: block;
    width: auto;
    height: auto;
    font-family: $font-family-base-black;
    font-size: 53.62px;
    font-weight: 700;
    text-align: left;
    color: #ffff;
    text-transform: uppercase;
    position: absolute;
    top: 136px;
    left: 40px;
    z-index: 14;
  }

  .banner__text1-accent {
    color: #f16d7f;
  }

  .banner__text2 {
    display: block;
    color: #fff;
    font-family: $font-family-base-black;
    font-size: 32.17px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    position: absolute;
    top: 208px;
    left: 40px;
    z-index: 14;
  }

  .feature-description {
    flex-basis: 32.6316%;
    width: 100%;
    height: auto;
    vertical-align: top;        
    padding-left: 114px;
    padding-right: 42px;
    padding-top: 50px;
    background-color: #222224;
    position: relative;
    z-index: 10;
  }

  .feature-flex-column {
    display: flex;
    flex-flow: column nowrap;
    justify-items: space-around;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }

  .feature-flex-column__item {
    flex-basis: 78.8770%;
  }

  .feature-description__title-1 {
    color: #fbfbfb;
    font-family: $font-family-base-bold;
    font-size: 20px;
    font-weight: 600;
    text-align: left;    
    position: relative;
    z-index: 10;

    &:before {
      width: 45px;
      height: auto;
      content: url("../img/car-form.png");
      display: inline-block;
      position: absolute;
      top: 0;
      left: -76px;
      z-index: 100;
    }
  }

  .feature-description__title-2 {
    color: #fbfbfb;
    font-family: $font-family-base-bold;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    position: relative;

    &:before {
      width: 45px;
      height: auto;
      content: url("../img/percentage-form.png");
      display: inline-block;
      position: absolute;
      top: -6px;
      left: -76px;
      z-index: 100;
    }
  }

  .feature-description__title-3 {
    color: #fbfbfb;
    font-size: 20px;
    font-family: $font-family-base-bold;
    font-weight: 600;
    text-align: left;
    position: relative;

    &:before {
      width: 45px;
      height: auto;
      content: url("../img/crown-form.png");
      display: inline-block;
      position: absolute;
      top: -6px;
      left: -76px;
      z-index: 100;
    }
  }

  .feature-description__text {
    color: #fbfbfb;
    text-align: left;
    font-family: $font-family-base-light;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    hyphens: manual;
  }
// -- End `features` --
