// -- Begin `subscribe` --
.subscribe {
  z-index: 1;
  position: relative;
}

.subscribe-bgc-image {
  width: 100%;
  height: auto;
  z-index: 1;
  position: relative;
  background-color: #F8F8F8;
  opacity: 0.7;
    filter: alpha(Opacity=70); // EI - opacity
  }

  .subscribe-left {
    width: 50%; // height: 100%;
    height: 438px;
    border-right: 1px solid #ececec;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }

  .subscribe-bloger-image {
    width: 83px;
    height: auto;
    position: absolute;
    top: 111px;
    left: 230px;
    z-index: 11;
  }

  .subscribe-blog {
    width: 386px;
    position: absolute;
    top: 114px;
    left: 340px;
    z-index: 11;
    text-align: left;
    vertical-align: top;
    display: block;
  }

  .subscribe-blog__text {
    font-family: Lato;
    color: rgba(34, 34, 36, 0.67);
    font-size: 16px;
    font-style: italic;
    line-height: 26px;
    text-align: left;
  }

  .subscribe-blog__author_accent {
    color: $accent;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    margin-top: 16px;
    text-align: left;
    z-index: 11;
  }

  .subscribe-blog__author {
    color: #222224;
    font-size: 12px;
    font-weight: 300;
    line-height: 12px;
    text-align: left;
    margin-top: 2px;
  }

  .subscribe-blog__decor-1 {
    width: 38px;
    height: 4px;
    background-color: #d6d6d6;
    margin-top: 36px;
    display: inline-block;
    margin-right: 6px;
    text-align: left;
    vertical-align: top;
  }

  .subscribe-blog__decor-2 {
    @extend .subscribe-blog__decor-1;
    background-color: $accent;
  }

// Begin of subscribe title & form
.subscribe-right {
  display: block;
  position: absolute;
  top: 148px;
  right: 236px;
  z-index: 12;
}

.subscribe-h {
  margin-bottom: 35px;
}

.subscribe-h__title {
  color: rgba(34, 34, 36, 0.67);
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  text-align: center;
  text-transform: uppercase;
}

.subscribe-h__text {
  color: rgba(34, 34, 36, 0.67);
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
}

.subscribe-form {
  max-width: 386px;
  display: block;
  height: 38px;
  line-height: 38px;
}

.subscribe-form__input {
  display: inline-block;
  max-width: 282px;

  input {
    color: rgba(34, 34, 36, 0.67);
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    padding-left: 28px;
    padding-top: 11px;
    padding-bottom: 10px;
    border-width: 0;
    border-bottom-left-radius: 23px;
    border-top-left-radius: 23px;
    background-color: #e1e1e1;
    vertical-align: top;
    height: 100%;
  }
}

.subscribe-form__submit-btn {
  max-width: 104px;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-left: -4px;

  button[type="submit"] {
    padding: 0px 20px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    border-width: 0;
    border-bottom-right-radius: 23px;
    border-top-right-radius: 23px;
    background-color: $accent;
    &:hover {
      background-color: darken($accent, 6%);
      color: fff;
      transition: background-color 0.25s ease;
    }

    a {
      text-decoration: none;
      color: #fff;
      display: block;
      cursor: pointer;
    }
  }
}
// -- End of Subscribe --
