@import "fonts";
@import "libs";
@import "vars";

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	&:before,
	&:after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}

*::-webkit-input-placeholder {
	color: $input-color-placeholder;
	opacity: 1;
}

*:-moz-placeholder {
	color: $input-color-placeholder;
	opacity: 1;
}

*::-moz-placeholder {
	color: $input-color-placeholder;
	opacity: 1;
}

*:-ms-input-placeholder {
	color: $input-color-placeholder;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	color: $brand-danger;
}

body input:required:valid,
body textarea:required:valid {
	color: $brand-info;
}

html,
body {
	height: 100%;
}

body {
	font-size: $font-size-base;
	min-width: 320px;
	position: relative;
	line-height: $line-height-base;
    font-family: $font-family-sans-serif; // overflow-x: hidden;  // Временно отключено для отладки
    opacity: 1;
  }

  .img-responsive {
  	display: block;
  	max-width: 100%;
  	height: auto;
  }

//-- Class for All removing gutters!! --
.no-gutter {
	margin: 0 -15px;
	padding: 0;
}

// Main container theme `The brand` (add to bootstrap .container)
.container-theme {
	border-left: solid 1px #ececec;
	border-right: solid 1px #ececec;
	width: 1600px;
	margin: 0 auto;
	padding: 0;
}

// Button all on page
.button {
	display: inline-block;
	border: none;
	color: #fff;
	text-decoration: none;
	background-color: $accent;
	font-weight: 400;
	text-align: center;
	position: relative;
	outline: none;
	transition: background-color .1s ease;

	&:focus,
	&:hover {
		text-decoration: none;
		color: #fff;
	}

	&:hover {
		background-color: lighten($accent, 5%);
		&::after {
			opacity: .22;
		}
	}

	&:active {
		background-color: darken($accent, 5%);
		&::after {
			opacity: .32;
		}
	}
}

// Logotype
.logotype {
	display: block;
	&__img {
		width: 59px;
		height: 100%;
		display: inline-block;
		vertical-align: middle;
		margin-top: 0;
		margin-right: 13px;
	}
	&__name {
		color: #222;
		font-size: 27px;
		font-weight: 300;
		line-height: 27px;
		text-align: left;
		text-transform: uppercase;
		display: inline-block;
		vertical-align: middle;
		height: 100%;
		padding: 0;
		margin-left: -4px;
		margin-top: 10px;
		&-accent {
			color: $accent;
			font-weight: 800;
		}
	}
}

// Modifier for top logo
.logotype_inline {
	display: inline-block;
}

.logotype_mbr {
	margin-bottom: 36px;
	margin-right: 37px;
}

.logotype_mb {
	margin-bottom: 30px;
}

.brand-link {
	text-decoration: none;
	display: inline-block;
	width: auto;
	height: auto;
	border-radius: 8px;
	&:hover {
		background-color: lighten(#e6e6e6, 8%);
		opacity: .9;
		z-index: 1;
	}
}

// End logotype
// -- Start Header --
.header {
	border: solid 1px #ececec;
	width: 100%;

	&-top {
		width: 1140px;
		height: 100px;
		margin: 0 auto;
        display: block; // Image Logo
        &-logo {
        	display: inline-block;
        	vertical-align: middle;
        	margin-top: 0;
        	margin-right: 13px;
        }

        &-name {
        	color: #222;
        	font-size: 27px;
        	font-weight: 300;
        	line-height: 32px;
        	text-align: left;
        	text-transform: uppercase;
        	display: inline-block;
        	vertical-align: middle;
        	height: 100%;
        	padding-top: 36px;
        	padding-bottom: 36px;
        	margin-right: 37px;

        	&-accent {
        		color: $accent;
        		font-weight: 800;
        	}
        }

        &-form {
        	display: inline-block;
        	vertical-align: middle;
        	width: auto;
        	height: 100%;
        	padding: 31px 0;
        }
      }
    }

    .search-form {
    	width: auto;
    	height: 38px;
    	display: inline-block;

    	&-inputgroup {
    		display: table;
    		position: relative;
    		border-collapse: separate;
    	}

    	&-dropdown-menu {
    		display: table-cell;
    		list-style: none;
    		border-bottom-left-radius: 3px;
    		border-top-left-radius: 3px;
    		border: 1px solid $panel-default-border;
    		background: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
    		width: 87px;
    		height: 100%;
    		padding-left: 12px;
    		padding-right: 0;
    		vertical-align: middle;
    		transition: all .1s ease;

    		&:hover,
    		&:focus {
    			color: lighten(#222, 20%);
    			background-color: darken(#222, 20%);
    			cursor: pointer;
    		}

    		&:first-child {
    			border-right: 0;
    		}

    		li {
    			position: relative;
    			text-align: center;

    			a {
    				display: block;
    				color: #222;
    				text-decoration: none;
    			}

    			.fa-caret-down {
    				color: #838383;
    				font-size: 14px;
    				font-weight: 400;
    				margin: 0;
    				padding-left: 4px;
    				padding-right: 8px;
    			}
    		}
    	}

    	&-control {
    		display: table-cell;
    		height: 100%;
    		vertical-align: middle;
    		padding-top: 11px;
    		padding-bottom: 11px;
    		padding-left: 16px;
    		padding-right: 0;
    		border: 1px solid $panel-default-border;
    	}

    	&-sign {
    		display: table-cell;
    		width: 38px;
    		height: 38px;
    		border: 1px solid $panel-default-border;
    		border-top-right-radius: 3px;
    		border-bottom-right-radius: 3px;
    		border-left: 0;
    		background-color: #FFF;
    		vertical-align: middle;

    		.fa-search {
    			color: #a4a4a4;
    			font-size: 14px;
    			font-weight: 400;
    			line-height: 32px;
    			text-align: center;
    			padding-left: 11px;
    		}
    	}
    }

    .header-login {
    	display: inline-block;
    	vertical-align: middle;
    	margin-top: 0;
    	margin-left: 349px;

    	img {
    		width: 32px;
    		height: 29px;
    	}

    	.header-login-button-menu {
    		list-style: none;
    		padding: 0;
    		display: inline-block;
    		margin-left: 26px;
    	}
    	.btn-account {
    		padding: 12px 0;
    		font-size: 15px;
    		width: 130px;

    		.fa-caret-down {
    			color: #fff;
    			font-size: 14px;
    			font-weight: 400;
    			margin: 0;
    			padding-left: 6px;
    			padding-right: 0px;
    		}
    	}
    }

// -- End Header --
// -- Start Navigation menu (main) --
.brand-content-relative {
	position: relative;
	z-index: 200;
	height: auto;
}

.brand-nav-pos-abs {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	background-color: #FFF;
	border-left: solid 1px #ececec;
	border-right: solid 1px #ececec;
}

.brand-nav {
	width: 100%;
	list-style: none;
	display: block;
	padding-left: 25%;
	padding-right: 25%;
	z-index: 101;
	background-color: #FFF;
}

.brand-nav-item {
	display: inline-block;
	text-transform: uppercase;
	padding-right: 48px;
	z-index: 101;

	&:last-child {
		padding-right: 0;
	}

	& a {
		display: block;
		color: #222;
		font-weight: 600;
		text-decoration: none;
		position: relative;
		z-index: 101;
// Display outline under memu item on hover
		&:after {
			width: calc(100% + 4px);
			height: 3px;
			content: "";
			display: block;
			position: absolute;
			top: 32px;
			left: 0px;
			z-index: 102;
			background-color: $accent;
			visibility: hidden;
		}
			&:hover:after {
					visibility: visible;
					transition: color .1s ease;
			}
	}
}

// -- End `Navigation manu` --
//
// -- Start `slider` --
.brand-slider {
	width: 100%;
	height: auto;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;

	&-image {
		width: 100%;
		height: auto;
	}
}

.brand-slider-link {
	text-decoration: none;
	display: block;
}

.brand-slider-label {
	position: absolute;
	top: 276px;
	left: 230px;
	border-left: solid 12px $accent;
	padding-left: 12px;
	padding-top: 0;
	z-index: 100;
	height: auto;
}

.text-accent {
	color: $accent;
}

.slider-label-text-bold {
	padding: 0;
	font-weight: 800;
	color: #222;
	font-size: 59.95px;
	text-transform: uppercase;
	line-height: .9;
}

.slider-label-text-black {
	padding: 0;
	font-weight: 700;
	color: #222;
	font-size: 39.96px;
	line-height: 1.3;
	text-transform: uppercase;
}
// -- End `slider` --
//
// -- Sart `Category` --
.category-content {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0;
	&-mt {
		margin-top: 763px;
	}
}

.category-item-link {
	display: block;
	text-decoration: none;
	width: auto;
	height: auto;
	&:hover {
		opacity: 0.8;
		transition: opacity .1s ease;
	}
}

.brand-category-img {
	margin-bottom: 20px;
	display: block;
	position: relative;
}

.brand-category-img-left {
	padding-right: 20px;
}

.brand-category-img-right {
	padding-left: 20px;
}

.category-label {
	background-color: #fff;
	position: absolute;
	top: 26px;
	padding: 16px 20px;
}

.category-label-black {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 900;
	color: #222222;
}

.category-label-accent {
	text-transform: uppercase;
	color: #f16d7f;
	font-size: 30px;
	font-weight: 900;
}
// -- End of `category`
// -- Start of `products` --
.products-content {
	max-width: 1410px;
	margin: 0 auto;
	padding: 0;
}

.products-header {
	width: 100%;
	margin-top: 100px;
	height: auto
}

.products-header__title {
	text-align: center;
	font-size: 30px;
	font-weight: 700;
	margin-bottom: 0;
}

.products-header__text {
	color: #9f9f9f;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
}

.products-grid {
	display: inline-block;
	text-align: center;
	margin: 0 auto;
}

.product {
	width: 261px;
	height: 364px;
	display: inline-block;
	vertical-align: top;
	margin: 60px 16px 0 16px;
	text-align: left;
	position: relative;
	z-index: 10;

	&:hover {
        // filter: brightness(0.4);
        box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
        transition: box-shadow .2s ease;
    		z-index: 101;

        &:after {
        	visibility: visible;
        }
    } // Hover end
    // &:after {
    // 	content: "Add to cart";
    // 	display: block;
    // 	width: 123px;
    // 	height: 40px;
    // 	position: absolute;
    // 	z-index: 110;
    // 	top: calc(50% - 78.5px);
    // 	left: calc(50% - 123px/2);
    // 	border: 1px solid #fff;
    // 	visibility: hidden;
    // 	cursor: pointer;
    // 	color: #fff;
    // 	// color: rgba(#fff, 160%);
    // 	font-weight: 600;
    // 	text-align: center;
    // 	line-height: 40px;
    // }
    // Version of Hover with background `product-hover-add-to-cart.png`
    &:after {
    	content: url(../img/product-hover-add-to-cart.png);
    	display: block;
    	position: absolute;
			top: 0;
			left: 0;
			background-position: 0 0;
	    background-size: 261px 279px;
	    cursor: pointer;
			visibility: hidden;
    }
  }

// TODO
// Решить вопрос по приминению фильтра только к img, без текста.
// Отображение 'Add to cart' - добавить яркость,
// изображение корзики img/basket_svg.svg перед текстом
//
.product__item {
	width: 100%;
	height: auto;
}

.product__title {
	font-size: 13px;
	font-weight: 500;
	text-transform: uppercase;
	margin-top: 20px;
	padding-left: 1rem;
}

.product__price_accent {
	margin-top: 14px;
	font-size: 16px;
	font-weight: 700;
	color: $accent;
	padding-left: 1rem;
}

.btn-product-browse {
	background-color: $accent;
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	padding: 12px 18px 12px 24px;
	color: #fff;
	margin-left: calc(50% - 106px);
	margin-top: 79px;
  &:hover {
    background-color: lighten($accent, 5%);
		cursor: pointer;
		transition: background-color 0.25s ease;
    &::after {
        opacity: .22;
    }
	}
}

.btn-product-browse__text {
	display: inline-block;
	padding-right: 6px;
}

.btn-product-browse__arr {
	display: inline-block;
}

.fa-arrow-right {
	font-size: 15px;
	font-weight: 400;
}

// -- End of `products` --
//
//  -- Start of `features`  --
//  TODO. Make version with Flex-box
// .container-theme-flex {
// width: 1600px;
// margin: 0 auto;
// 	display: flex;
// 	border-left: solid 1px #ececec;
// 	border-right: solid 1px #ececec;
// 	height: auto;
// 	z-index: 10;
// }
.features {
	max-width: 1410px;
	margin: 0 auto;
	display: block;
	text-align: center;
	z-index: 11;
}

.banner {
	display: inline-block;
	margin-top: 113px;
	width: auto;
	height: auto;
	z-index: 12;
	position: relative;
}

.banner__image {
	width: 767px;
	height: auto;
	display: inline-block;
	position: relative;
	top: 0;
	left: 0;
	vertical-align: top;
    z-index: 13; // &:after {
    // 	content: "";
    // 	background-image: url("../img/offer-mask.png");
    // }
  }

  .banner__text1 {
  	display: inline-block;
  	width: auto;
  	font-size: 53.62px;
  	font-weight: 600;
  	text-align: left;
  	color: #ffff;
  	text-transform: uppercase;
  	position: absolute;
  	top: 146px;
  	left: 40px;
  	z-index: 14;
  }

  .banner__text1-accent {
  	color: #f16d7f;
  }

  .banner__text2 {
  	display: block;
  	color: #fff;
  	font-size: 32.17px;
  	font-weight: 600;
  	text-align: left;
  	text-transform: uppercase;
  	position: absolute;
  	top: calc(146px + 53.62px + 0.25*32.17px);
  	left: 40px;
  	z-index: 14;
  }

  .feature-description {
  	width: 373px;
  	height: 529px;
  	vertical-align: top;
  	display: inline-block;
  	margin-top: 113px;
  	padding-left: 114px;
  	padding-right: 43px;
  	padding-top: 50px;
  	background-color: #222224;
  	position: relative;
  	z-index: 10;
  }

  .feature-description__title-1 {
  	color: #fbfbfb;
  	font-size: 20px;
  	font-weight: 600;
  	text-align: left;
  	margin-bottom: 15px;
  	position: relative;
  	z-index: 10;

  	&:before {
  		width: 45px;
  		height: auto;
  		content: url("../img/car-form.png");
  		display: inline-block;
  		position: absolute;
  		top: -6px;
  		left: -76px;
  		z-index: 100;
  	}
  }

  .feature-description__title-2 {
  	color: #fbfbfb;
  	font-size: 20px;
  	font-weight: 600;
  	text-align: left;
  	margin-top: 40px;
  	margin-bottom: 15px;
  	position: relative;

  	&:before {
  		width: 45px;
  		height: auto;
  		content: url("../img/percentage-form.png");
  		display: inline-block;
  		position: absolute;
  		top: -6px;
  		left: -76px;
  		z-index: 100;
  	}
  }

  .feature-description__title-3 {
  	color: #fbfbfb;
  	font-size: 20px;
  	font-weight: 600;
  	text-align: left;
  	margin-top: 40px;
  	margin-bottom: 15px;
  	position: relative;

  	&:before {
  		width: 45px;
  		height: auto;
  		content: url("../img/crown-form.png");
  		display: inline-block;
  		position: absolute;
  		top: -6px;
  		left: -76px;
  		z-index: 100;
  	}
  }

  .feature-description__text {
  	color: #fbfbfb;
  	text-align: left;
  	font-size: 14px;
  	font-weight: 300;
  	line-height: 24px;
  	hyphens: manual;
  }

  .feature-description__text-bottom-m {
  	margin-bottom: 50px;
  }

// -- End `features` --
// -- Begin `subscrib` --
.subscribe {
	margin-top: 97px;
	z-index: 1;
	position: relative;
}

.subscribe-bgc-image {
	width: 100%;
	height: auto;
	z-index: 1;
	position: relative;
	background-color: #F8F8F8;
	opacity: 0.7;
    filert: alpha(Opacity=70); // EI - opacity
  }

  .subscribe-left {
    width: 50%; // height: 100%;
    height: 438px;
    border-right: 1px solid #ececec;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }

  .subscribe-bloger-image {
  	width: 83px;
  	height: auto;
  	position: absolute;
  	top: 111px;
  	left: 230px;
  	z-index: 11;
  }

  .subscribe-blog {
  	width: 386px;
  	position: absolute;
  	top: 114px;
  	left: 340px;
  	z-index: 11;
  	text-align: left;
  	vertical-align: top;
  	display: block;
  }

  .subscribe-blog__text {
  	font-family: Lato;
  	color: rgba(34, 34, 36, 0.67);
  	font-size: 16px;
  	font-style: italic;
  	line-height: 26px;
  	text-align: left;
  }

  .subscribe-blog__author_accent {
  	color: $accent;
  	font-size: 16px;
  	font-weight: 600;
  	line-height: 16px;
  	margin-top: 16px;
  	text-align: left;
  	z-index: 11;
  }

  .subscribe-blog__author {
  	color: #222224;
  	font-size: 12px;
  	font-weight: 300;
  	line-height: 12px;
  	text-align: left;
  	margin-top: 2px;
  }

  .subscribe-blog__decor-1 {
  	width: 38px;
  	height: 4px;
  	background-color: #d6d6d6;
  	margin-top: 36px;
  	display: inline-block;
  	margin-right: 6px;
  	text-align: left;
  	vertical-align: top;
  }

  .subscribe-blog__decor-2 {
  	@extend .subscribe-blog__decor-1;
  	background-color: $accent;
  }

// Begin of subscribe title & form
.subscribe-right {
	display: block;
	position: absolute;
	top: 148px;
	right: 236px;
	z-index: 12;
}

.subscribe-h {
	margin-bottom: 35px;
}

.subscribe-h__title {
	color: rgba(34, 34, 36, 0.67);
	font-size: 24px;
	font-weight: 400;
	line-height: 34px;
	text-align: center;
	text-transform: uppercase;
}

.subscribe-h__text {
	color: rgba(34, 34, 36, 0.67);
	font-size: 14px;
	font-weight: 400;
	line-height: 14px;
	text-align: center;
	text-transform: uppercase;
}

.subscribe-form {
	max-width: 386px;
	display: block;
	height: 38px;
	line-height: 38px;
}

.subscribe-form__input {
	display: inline-block;
	max-width: 282px;

	input {
		color: rgba(34, 34, 36, 0.67);
		font-size: 14px;
		font-weight: 400;
		text-align: left;
		padding-left: 28px;
		padding-top: 11px;
		padding-bottom: 10px;
		border-width: 0;
		border-bottom-left-radius: 23px;
		border-top-left-radius: 23px;
		background-color: #e1e1e1;
		vertical-align: top;
		height: 100%;
	}
}

.subscribe-form__submit-btn {
	max-width: 104px;
	height: 100%;
	display: inline-block;
	vertical-align: top;
	margin-left: -4px;

	button[type="submit"] {
		padding: 0px 20px;
		color: #fff;
		font-size: 14px;
		font-weight: 400;
		text-align: center;
		border-width: 0;
		border-bottom-right-radius: 23px;
		border-top-right-radius: 23px;
		background-color: $accent;
		&:hover {
			background-color: darken($accent, 6%);
			color: fff;
			transition: background-color 0.25s ease;
		}

		a {
			text-decoration: none;
			color: #fff;
			display: block;
			cursor: pointer;
		}
	}
}

// -- End og Subscribe --
// -- Begin of `b-footer` --
// `b-footer-top`
.b-footer-top {
	max-width: 1140px;
	height: auto;
    margin: 0 auto; // display: flex;
    display: block;
    margin-top: 110px;
    margin-bottom: 90px;
  }

// Star of Footer text 1st column
.footer-text {
	color: darken(#898989, 5%);
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
	padding-right: 148px;
}

.footer-text-mt {
	margin-top: 22px;
}

.footer-title {
	color: $accent;
	font-size: 18px;
	font-weight: 600;
	line-height: 26px;
	text-transform: uppercase;
	margin-bottom: 45px;
}

.menu-v {
	list-style: none;
	padding: 0;

	&__item {
		font-size: 16px;
		font-weight: 400;
		line-height: 42px;
		a {
			text-decoration: none;
			color: #898989;
			&:hover {
				color: $accent;
				transition: color .1s ease;
			}
		}
	}
}

// End of Top of footer
// Start of Footer - social links
// Move to left -15px
.col-md-ml {
	margin-left: -15px;
}

.b-footer-bottom {
	background-color: #e6e6e6;
	width: 100%;

	&-content {
		max-width: 1140px;
		height: 80px;
		margin: 0 auto;
		padding-top: 31px;

		&-text {
			height: 100%;
			padding: 0;
			color: #7a7a7a;
			font-size: 16px;
			font-weight: 400;
			line-height: 64px;
			text-align: left;
		}
	}
}

.col-socials {
	max-with: auto;
}

.social-icon-facebook {
	width: 32px;
	height: 32px;
	display: inline-block;
	background-color: #fff;
	padding-top: 8px;
	font-family: $font-icon;
	color: #b2b2b2;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
	text-align: center;
	vertical-align: top;
	&:hover {
		background-color: $accent;
		color: #fff;
		transition: background-color 0.5s ease;
	}
}

.social-icon-facebook_position {
	margin-right: 6px;
}

.social-icon-twitter {
	width: 32px;
	height: 32px;
	padding-top: 8px;
	display: inline-block;
	background-color: #fff;
	color: #b2b2b2;
	font-family: $font-icon;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
	text-align: center;
	vertical-align: top;
	&:hover {
		background-color: $accent;
		color: #fff;
		transition: background-color 0.5s ease;
	}
}

.social-icon-twitter_position {
	margin-right: 6px;
}

.social-icon-linkedin {
	width: 32px;
	height: 32px;
	padding-top: 8px;
	display: inline-block;
	background-color: #fff;
	color: #b2b2b2;
	font-family: $font-icon;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
	text-align: center;
	vertical-align: top;
	&:hover {
		background-color: $accent;
		color: #fff;
		transition: background-color 0.5s ease;
	}
}

.social-icon-linkedin_position {
	margin-right: 6px;
}

.social-icon-pinterest {
	width: 32px;
	height: 32px;
	padding-top: 8px;
	display: inline-block;
	background-color: #fff;
	color: #b2b2b2;
	font-family: $font-icon;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
	text-align: center;
	vertical-align: top;
	&:hover {
		background-color: $accent;
		color: #fff;
		transition: background-color 0.5s ease;
	}
}

.social-icon-pinterest_position {
	margin-right: 6px;
}

.social-icon-google-plus {
	width: 32px;
	height: 32px;
	padding-top: 8px;
	display: inline-block;
	background-color: #fff;
	color: #b2b2b2;
	font-family: $font-icon;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
	text-align: center;
	vertical-align: top;
	&:hover {
		background-color: $accent;
		color: #fff;
		transition: background-color 0.5s ease;
	}
}

@import "media"; // Всегда в конце
