@import "fonts";
@import "libs";
@import "vars";

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	&:before, &:after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}

*::-webkit-input-placeholder {
	color: $input-color-placeholder;
	opacity: 1;
}

*:-moz-placeholder {
	color: $input-color-placeholder;
	opacity: 1;
}

*::-moz-placeholder {
	color: $input-color-placeholder;
	opacity: 1;
}

*:-ms-input-placeholder {
	color: $input-color-placeholder;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	color: $input-color-placeholder;
}

body input:required:valid,
body textarea:required:valid {
	color: $input-color-placeholder;
}

html, body {
	height: 100%;
}

body {
	font-size: $font-size-base;
	min-width: 320px;
	position: relative;
	line-height: $line-height-base;
	font-family: $font-family-sans-serif;
	overflow-x: hidden;
	opacity: 1;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

// Main container
.container {
	width: 1600px;
	margin: 0 auto;
	padding: 0;
}

.brand-content {
	width: 1140px;
	margin: 0 auto;
	padding: 0;
}

// Button all on page
.button {
    display: inline-block;
    border: none;
    color: #fff;
    text-decoration: none;
    background-color: $accent;
    font-weight: 400;
    text-align: center;
    position: relative;
    outline: none;
    transition: background-color .1s ease;

    &:focus, &:hover {
        text-decoration: none;
        color: #fff;
    }

    &:hover {
        background-color: lighten($accent, 5%);
        &::after {
            opacity: .22;
        }
    }

    &:active {
        background-color: darken($accent, 5%);
        &::after {
            opacity: .32;
        }
	}
}
// Logo image
.logo-image {
	width: 59px;
	height: auto;
}

// Header
.header {
	border: solid 1px #ececec;
	width: 100%;

	&-top {
		width: 1140px;
		height: 100px;
		margin: 0 auto;
		display: block;

	// Image Logo
		&-logo {
			display: inline-block;
			vertical-align: middle;
			margin-top: 0;
			margin-right: 13px;
		}

		&-name {
			font-family: Lato;
			color:  #222;
			font-size: 27px;
			font-weight: 300;
			line-height: 32px;
			text-align: left;
			text-transform: uppercase;
			display: inline-block;
			vertical-align: middle;
			height: 100%;
			padding-top: 36px;
			padding-bottom: 36px;
			margin-right: 37px;

				&-accent {
					color:  #f16d7f;
					font-weight: 900;
				}
		}

		&-form {
			display: inline-block;
			vertical-align: middle;
			width: auto;
			height: 100%;
			padding: 31px 0;
		}
	}
}

.search-form {
	width: auto;
	height: 38px;
	display: inline-block;

	&-inputgroup {
		display: table;
		position: relative;
		border-collapse: separate;
	}

	&-dropdown-menu {
		display: table-cell;
		list-style: none;
		border-bottom-left-radius: 3px;
		border-top-left-radius: 3px;
		border: 1px solid $panel-default-border;
		background: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
		width: 87px;
		height: 100%;
		padding-left: 12px;
		padding-right: 0;
		vertical-align: middle;
		transition: background-color .1s ease;
		transition: color .1s ease;

		&:hover, &:focus {
			color: lighten(#222, 20%);
			background-color: daker(#222, 20%);
			cursor: pointer;
		}

		&:first-child {
			border-right: 0;
		}

		li {
				position: relative;
				text-align: center;

				a {
					display: block;
					color: #222;
					text-decoration: none;
				}

				.fa.fa-caret-down {
					color: #838383;
					font-size: 14px;
					font-weight: 400;
					margin: 0;
					padding-left: 4px;
					padding-right: 8px;
				}
			}
	}

	&-control {
		display: table-cell;
		border: 1px solid $panel-default-border;
		padding-top: 11px;
		padding-bottom: 11px;
		height: 100%;
		padding-left: 16px;
		vertical-align: middle;
	}

	&-sign {
		display: table-cell;
		width: 38px;
		height: 38px;
		border: 1px solid $panel-default-border;
		border-left: 0;
		background-color: #FFF;
		vertical-align: middle;

		.fa.fa-search {
		    color:  #a4a4a4;
		    font-size: 14px;
		    font-weight: 400;
		    line-height: 32px;
		    text-align: center;
		    padding-left: 11px;
		}
	}
}

.header-login {
	display: inline-block;
	vertical-align: middle;
	margin-top: 0;
	margin-left: 349px;

		img {
			width: 32px;
			height: 29px;
		}

	.header-login-button-menu {
		list-style: none;
		padding: 0;
		display: inline-block;
		margin-left: 26px;
	}
		.btn-account {
		    padding: 12px 0;
	    	font-size: 15px;
	    	width: 130px;

			.fa.fa-caret-down {
				color: #fff;
				font-size: 14px;
				font-weight: 400;
				margin: 0;
				padding-left: 6px;
				padding-right: 0px;
			}
		}
}
// Navigation menu (main)
.brand-border-left-right {
	border-left: solid 1px #ececec;
	border-right: solid 1px #ececec;
}

.brand-nav {
	list-style: none;
	display: block;
	padding: 0;
	margin: 20.5px 16%;
}

.brand-nav-item {
	display: inline-block;
	text-transform: uppercase;
	margin-right: 48px;
}

@import "media"; // Всегда в конце
