.top-filter {

  h2 {
    font-size: 14px;
    color: rgb(111,110,110);
    font-weight: 500;
    text-transform: uppercase;
    line-height: 24px;
    margin-bottom: 12px;
  }

  .top-filter-bc {  // Bread crumbs
    color: rgb(111,110,110);
    list-style: none;
    padding-left: 0;
    margin-bottom: 30px;

    &__item {
      display: inline-block;

      a {
        display: block;
        // padding-right: 12px;
        text-decoration: none;
        color: rgb(111,110,110);
        font-size: 14px;
        line-height: 2;

        &:hover {
          color: $accent;
          transion: color .2s ease .2s;
        }
      }
    }

    &__divider {
      width: 1px;
      height: 12px;
      display: inline-block;
      border-left: 1px solid  $list-group-border;  // #ebebeb;
      // padding-left: 1px;
      margin-left: 12px;
      margin-right: 12px;
    }

  }  // end .top-filter-bc

  // Start of size check
  &__size-form {
    color: rgb(111,110,110);
    .size-checkbox {
      vertical-align: top;
      margin: 0 10px 12px 0;
      width: 12px;
      height: 12px;
      &:not(checked) {  /* Прячем оригинальный чекбокс. */
        position: absolute;
        opacity: 0;
        + label {
            position: relative; /* будем позиционировать псевдочекбокс относительно label */
            padding: 0 24px 0 22px; /* оставляем слева от label место под псевдочекбокс */
            &:before {
              content: "";
              @include d-absolute(0, 0);
              width: 12px;
              height: 12px;
              background-color: #fff;
              border: 1px solid $list-group-border;
              transition: background-color .2s ease .2s;
            }
        }
        }  // not checked
      &:checked + label:before {  /* Checked */
        background: $accent;
      }
      &:focus + label:before {  /* Focus on box */
        box-shadow: 0 0 0 2px rgba(255,255,0,.5);
      }
    }
    .cb-2d-line {
      margin-top: 9px;
    }
    .cb-label_pl {
      padding-left: 18px;
    }
  }

} // end .top-filter
// Top filter. Price right part
.price-container {
  width: 100%;
  position: relative;

  // Range begin
  input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
    margin: 16px 0;

  }
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }
  input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;

    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  /* End of hiding */
  /* Special styling for WebKit/Blink */
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #e7697a;
    height: 16px;
    width: 16px;
    border-radius: 16px;
    background: #f16d7f; // $accent
    cursor: pointer;
    // margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    margin-top: -6px;
  }

  /* All the same stuff for Firefox */
  input[type=range]::-moz-range-thumb {
    border: 1px solid #e7697a;
    height: 16px;
    width: 16px;
    border-radius: 16px;
    background: #f16d7f; // $accent
    cursor: pointer;
  }

  /* All the same stuff for IE */
  input[type=range]::-ms-thumb {
    border: 1px solid #e7697a;
    height: 16px;
    width: 16px;
    border-radius: 16px;
    background: #f16d7f; // $accent
    cursor: pointer;
  }
  // slider-runnable-track
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    // box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #f0f0f0;
    border-radius: 3px;
    border: 0.2px solid #010101;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #FCE3F0;
  }

  input[type=range]::-ms-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    // box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border-color: transparent;
    background: #f0f0f0;
    border-width: 6px 0;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #f0f0f0;
    border-radius: 3px;
  }
  input[type=range]::-ms-fill-upper {
    background:#f0f0f0;
    border: 0.2px solid transparent;
    border-radius: 3px;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #FCE3F0;
  }

  .f-min-price {
    position: relative;
  }

  .f-max-price {
    position: absolute;
    top: 0;
    left: 50%;
  }

  .x-output {
    position: absolute;
    top: 100%;
    left: 0;
    color: rgb(111,110,110);
    padding-left: 8px;
    // margin-left: 8px;
    &:before {
      content: "$";
    }
  }
  .y-output {
    position: absolute;
    top: 100%;
    left: 58%;
    color: rgb(111,110,110);
    padding-left: 8px;
    &:before {
      content: "$";
    }
  }

} // End of Range

.product-sort {
  width: 100%;
  height: 50px;
  background-color: #F3F3F3;
  padding: 11px 0 0 8px;
}

.sort-form {
  // @include flex-start-center;
  display: block;

  &__label {
    height: 30px;
    // @include flex-center-center;
    display: inline-block;
    position: static;
    padding-left: 14px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 10px;
    background-color: #fff;
    border: 1px solid  $panel-inner-border;  // #e6e6e6;
    color: $select-color;  // #6f6e6e;
    font-size: 14px
  }
// Start of sort-form__select-sort-by
  &__select-sort-by {
    position: relative;
    display: inline-block;
    width: 86px;
    height: 30px;
    vertical-align: top;
    margin-right: 12px;

    select {
      display: inline-block;
      width: 100%;
      height: 30px;
      cursor: pointer;
      padding: 0 0 0 12px;
      margin-left: -4px;
      outline: 0;
      border: 1px solid $panel-default-border;  // #e6e6e6;
      border-left: none;
      border-radius: 0px;
      background: #fff;
      color: $select-color;  // #6f6e6e;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
    }
    select::-ms-expand {
            display: none;
    }
    select:hover,
    select:focus {
      color: $accent;  //  #f16d7f;
      background: #f8f3f4;
    }
    select:disabled {
      opacity: 0.5;
      pointer-events: none;
    }

    // Start of select right Arrow
    .select_arrow {
        position: absolute;
        top: 12px;
        right: 15px;
        width: 0;
        height: 0;
        pointer-events: none;
        border-style: solid;
        border-width: 8px 5px 0px 5px;
        border-color: #7B7B7B transparent transparent transparent;
    }
    // End of select right Arrow

    select:hover ~ .select_arrow,
    select:focus ~ .select_arrow {
      border-top-color: $accent;
    }
    select:disabled ~ .select_arrow {
      border-top-color: #CCCCCC;
    }
  }
// End of sort-form__select-sort-by
//
  &__select-show {
      position: relative;
      display: inline-block;
      width: 64px;
      height: 30px;
      vertical-align: top;
      margin-right: 0;

      select {
        display: inline-block;
        width: 100%;
        height: 30px;
        cursor: pointer;
        margin-left: -4px;
        padding: 0 0 0 12px;
        outline: 0;
        border: 1px solid #e6e6e6;
        border-left: none;
        border-radius: 0px;
        background: #fff;
        color: $select-color;  // #6f6e6e;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
      }

      select::-ms-expand {
        display: none;
      }

      select:hover,
      select:focus {
        color: $accent;  // #f16d7f;
        background: #f8f3f4;
      }

      select:disabled {
        opacity: 0.5;
        pointer-events: none;
      }

      // Start of select right Arrow
      .select_arrow {
          position: absolute;
          top: 12px;
          right: 15px;
          width: 0;
          height: 0;
          pointer-events: none;
          border-style: solid;
          border-width: 8px 5px 0px 5px;
          border-color: #7B7B7B transparent transparent transparent;
      }
      // End of select right Arrow

      select:hover ~ .select_arrow,
      select:focus ~ .select_arrow {
        border-top-color: $accent;
      }
      select:disabled ~ .select_arrow {
        border-top-color: #CCCCCC;
      }
    }

} // End of .sort-form

